@{
    ViewBag.Title = "About";
}
<h1>About Us</h1>
<div class="row">
    <div class="col-sm-8">
<h3>Ye Elders and Sisters was started to help prepare misionaries for their missions.</h3>
<h4>When we served our missions we found that our call packet was lacking in information especiallly
    about what to bring.  I was told to bring a few light sweaters.  I found out that first winter that it could
    get to down to 0 degrees with 100% humidity.  We hope to engage future missionaries in conversation 
    with missionaries who have served where you are going so you don't end up freezing through a winter like me.</h4>
<h5>The creators of this website are currently at BYU studying Information Systems.  They hope to use their skills to spread
    the gospel across the world.</h5>
    </div>

<div class="col-sm-4"><div style="width:100%; height: 200px; border-radius: 15px 15px; background-color:black">
    <p class="missiontag" style="text-align:center; color:antiquewhite; padding-top:30px;">@ViewBag.MissionaryName<br />THE CHURCH OF<br /><span style="font-size:150%;">JESUS CHRIST</span></br>OF LATTER DAY SAINTS</p>
</div></div></div>
