@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-sm-6">
    <h1>Contact Us Here</h1>
    <p>Phone: (801) 555-1234</p>
    <p>Email: contact@yeelders.com</p>
    </div>

    <div class="col-sm-6">
<h1>Or Send us a Message</h1>
<form>
    <textarea name="Name" form="userform" rows="1" cols="45" maxlength="50">Name</textarea><br />
    <textarea name="Email" form="userform" rows="1" cols="45" maxlength="50">Email</textarea><br />
    <textarea name="Subject" form="userform" rows="1" cols="45" maxlength="50">Subject</textarea><br />
    <textarea name="Message" form="userform" rows="5" cols="100" maxlength="500">Enter Message</textarea><br />
    <input type="submit" />
</form>
        </div>
</div>